@page "/"
@using CoravelPlay.Data

@code {
  WidgetList _widgetList;

  private void NewWidgetArrived(object sender, Widget w) => 
    _widgetList.AddNewWidget(w);

}

<h1>Widgets</h1>
<p>See <a href="https://docs.coravel.net/Events/" target="_blank">Coravel docs</a> for more info, and <a href="https://github.com/jamesmh/coravel/issues/270" target="_blank">this issue</a> for my problem with it.</p>

<NewWidget OnNewWidget="NewWidgetArrived" />

<hr />

<WidgetList @ref="@_widgetList" />